{
  "extends": "airbnb/base",
	"plugins": ["import"],
	"rules": {
		"linebreak-style": ["error", "windows"],
		"indent": [2, "tab"],
		"no-tabs": 0,
		"no-new": 0,
		"no-console": 0,
		"guard-for-in": 0,
		"no-restricted-syntax": 0,
		"prefer-template": 0,
		"no-plusplus": 0
	},
  "env": {
    "node": true
  }
}